.row,.col-md-2,.col-md-3,.col-md-6 {
}

/* CSS BOOTSTRAP */
@font-face {
	font-family: "Built titling regular";
	src: url("fonts/built titling rg.ttf");
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
	padding-right: 0;
	padding-left: 0;
}

.fluid-background {
	background-size: 100% auto;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.container-footer {
	margin: 0 auto;
	padding: 0 1%;
	width: 100%;
	background-color: #fff;
}

.btn-sample-login {
	color: #fff;
	background-color: #9776B5;
	border: 0;
	-webkit-box-shadow: 1px 1px 12px #555;
	-moz-box-shadow: 1px 1px 12px #555;
	box-shadow: 1px 1px 12px #555;
	border-radius: 0;
}

.btn-sample-panel {
	color: #fff;
	background-color: #9776B5;
	border: 0;
	-webkit-box-shadow: 1px 1px 12px #555;
	-moz-box-shadow: 1px 1px 12px #555;
	box-shadow: 1px 1px 12px #555;
	border-radius: 0;
}

.btn-sample-register {
	color: #fff;
	border: 0;
	-webkit-box-shadow: 1px 1px 12px #555;
	-moz-box-shadow: 1px 1px 12px #555;
	box-shadow: 1px 1px 12px #555;
	border-radius: 0;
	background-color: #64b8d9;
}

.btn-sample:hover,.btn-sample:focus,.btn-sample:active,.btn-sample.active,.open .dropdown-toggle.btn-sample {
	color: #fff;
	background-color: #83679E;
	border: 0;
}

.btn-sample-register:hover,.btn-sample-register:focus,.btn-sample-register:active,.btn-sample-register.active,.open .dropdown-toggle.btn-sample-register {
	color: #fff;
	background-color: #61adcb;
	border: 0;
}

.btn-sample:active,.btn-sample.active,.open .dropdown-toggle.btn-sample {
	background-image: none;
}

.btn-sample.disabled,.btn-sample[disabled],fieldset[disabled] .btn-sample,.btn-sample.disabled:hover,.btn-sample[disabled]:hover,fieldset[disabled] .btn-sample:hover,.btn-sample.disabled:focus,.btn-sample[disabled]:focus,fieldset[disabled] .btn-sample:focus,.btn-sample.disabled:active,.btn-sample[disabled]:active,fieldset[disabled] .btn-sample:active,.btn-sample.disabled.active,.btn-sample[disabled].active,fieldset[disabled] .btn-sample.active {
	background-color: #9776B5;
	border-color: #F0F0F0;
}

.btn-sample .badge {
	color: #9776B5;
	background-color: #fff;
	box-shadow: 1px 1px 12px #555;
}

.text-purple {
	color: #783FAB;
}

.text-blue {
	color: #2AA1D3;
}

.text-red {
	color: red;
}

/* SITE STARTER */
body {
	background: url(images/background-pgm.jpg) no-repeat 0 0;
	background-color: #e3e7e9;
	margin: 0 auto;
	position: relative;
}

.background {
	background: url(images/background-pgm-footer.jpg) no-repeat 0 0;
	background-position: 100% bottom;
	background-size: contain;
}

.fb-page {
	margin: 2% 0;
}

.adblock {
background-color: rgba(0, 0, 0, 0.6);
background: rgba(0, 0, 0, 0.6);
    width: 99.7%;
	height:250px;
    z-index: 99;
    height: 100%;
}

.adblock h1 {
	text-transform:uppercase;
	font-weight: bold;
	color:#fff;
	font-size:1em;
	margin-top:0;
}

.adblock p {
		font-weight: bold;
	color:#fff;
	font-size:0.8em;
	padding:5%
}

/* HEADER : Partenaires + Logo PGM */
#logo {
	width: 38%;
	margin-left: 41%;
}

#partnership {
	margin-left: -5%;
}

#partnership img {
	margin-right: 5%;
	margin-top: 3%;
}

.box-login {
	margin-top: 1%;
}

.defaut-instantg iframe{
	border: 1px solid #ccc; 
	overflow:hidden; 
	width:350px; 
	height:350px;
	margin-top: 2%
}

.defaut-adsense {
	border: 1px solid #ccc; 
	overflow:hidden; 
	margin-top: 2%;
	padding: 2%;
}

/* MENU */
#select {
	background: url(images/menu_index/background-home.png) no-repeat 0 0;
	height: 64px;
	width: 75px;
	margin: -4px 0 0;
	padding-left: 1%;
	padding-top: .2%;
}

.navbar-inverse {
	background: url(images/menu_index/background_menu.png) no-repeat 0 0;
	border: 0;
	border-radius: 0;
	padding: 0;
	height: 68px;
	background-position: center center;
}

@media (min-width:1200px) {
	.navbar-inverse {
		background-size: contain;
	}
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
	text-transform: uppercase;
	text-shadow: -1px 2px 2px #036;
	font-family: "Built titling regular";
	font-size: 1.6em;
	letter-spacing: .05em;
}

.nav > li.divider > a {
	margin: 0 1.5em;
}

.nav [class*='divider']:not(:last-child):after {
	background: url(images/menu_index/divider.png) no-repeat 100%;
	width: 1px;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.navbar-left {
	margin: .6em 0 0 -3.6em;
	background: url(images/menu_index/background-bar.png) no-repeat 0 29%;
	width: 93%;
}

/***** SITE *****/
.container {
	background-color: #fff;
	padding: 1.3em;
}

/*.container .col-md-2 {
	width: 18.195050946143%;
}

/* 250 / 1374  */
/*.container .col-md-6 {
	width: 54.585152838428%;
}

/* 750 / 1374  */
/*.container .col-md-4 {
	width: 25.4730713246%;
}*/

/* 350 / 1374  */
/* Margin for center side */
.give-right {
	margin-right: .9%;
}

/*********************/
/*********************/
/***** MENU ONGLET *****/
.navbar {
	margin-bottom: 0;
}

.navbar-fixed-top {
	z-index: 10000;
}

.navbar-right {
	margin-right: -5em;
}

.tab-social {
	background-image: url(images/menu_index/onglet-social.png);
	background-repeat: no-repeat;
	height: 75px;
	margin-top: -.2em;
}

li.tab-social > a {
	padding: .4em;
	margin: .56em 0 0;
}

/********** SITE SEPARATOR + BLOC (TITLE) ***********/

.bloc-defaut {
		border: 1px solid #bfc0c0;
	padding: 2%;
	margin-right: 2%;
	box-shadow: 0 3px 0 0 #bfc0c0;
	-moz-box-shadow: 0 3px 0 0 #bfc0c0;
	-webkit-box-shadow: 0 3px 0 0 #bfc0c0;
}

.separator {
	background-image: url(images/menu_separator/background-separator.jpg);
	background-repeat: repeat-x;
	height: 30px;
}

/* Separator margin */
.separator-margin {
	margin: 2% 0;
}

/* Add title right side without margin */
.give-title-right {
	background-image: url(images/menu_separator/title_right.png);
	background-repeat: no-repeat;
	height: 36px;
}

/* Add negative margin right side just for header */
.margin-title-right {
	margin-top: -6px;
	margin-bottom: 5px;
}

/* Add margin right side for all title */
.margin-title-right-2 {
	margin: 2% 0 1%;
}

span.title-right-bloc {
	color: #fff;
	text-transform: uppercase;
	font-size: .813em;
	padding: 3%;
}

h1.title-stream {
	background-color: #fff;
	color: #786689;
	width: 100%;
	margin-top: .5%;
	padding-left: 1%;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: 700;
	display: inline-block;
/* margin-left: 1%; */
}

/********* BLOC LEFT ************/

.bloc-stream {
	margin-top:1%
}

.bloc-stream .col-md-5 {
	width: 46.733333333333%;
/* 343 / 750 */
	margin-right: .3em;
	border: 1px solid #bfc0c0;
	padding-bottom: .5%;
}

.bloc-stream .col-md-7 {
	width: 52.666666666667%;
/* 395 / 750 */
}

.outside-bloc-stream .col-md-5 {
	width: 31.985422740525%;
/* 120 / 343 */
	margin: 0;
	border: 0;
}

.outside-bloc-stream .col-md-7 {
	width: 68.014577259475%;
/* 223 / 343 */
}

.left-img-streamer {
	padding: 5%;
}

.text-left-bloc {
	text-transform: uppercase;
	font-size: .8em;
	font-weight: 700;
	padding-top: 1em;
}

.text-left-bloc .glyphicon,.social-left-bloc .glyphicon {
	/*font-size: initial;*/
	top: 3px;
}

.online-bloc {
	position: absolute;
	top: 6%;
	right: 3%;
	font-weight: 700;
	color: green;
	text-transform: uppercase;
	font-size: .8em;
}

.glyphicon-record {
	color: green;
	font-size: initial;
	top: 3px;
}

.social-left-bloc {
	margin-top: 4%;
	font-weight: 700;
	text-transform: uppercase;
	font-size: .8em;
}

.col-social-left {
	margin-right: 2%;
	float: left;
	width: 49%;
	text-align: center;
	background-color: #2AA1D3;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	font-size: .8em;
}

.col-social-right {
	float: left;
	width: 49%;
	text-align: center;
	background-color: #9776B5;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	font-size: .8em;
}

.glyphicon-facebook {
	background-image: url(images/blocs/left_blocs/icon-facebook.png);
	background-position: center center;
	background-repeat: no-repeat;
	height: 26px;
	width: 26px;
}

.glyphicon-twitter {
	background-image: url(images/blocs/left_blocs/icon-twitter.png);
	background-position: center center;
	background-repeat: no-repeat;
	height: 26px;
	width: 26px;
}

.col-social-left .glyphicon,.col-social-right .glyphicon {
	top: 0;
	vertical-align: middle;
}

/********** RIGHT BLOC ***********/
.bloc-right .col-md-2 {
	width: 23.32361516035%;
/* 80 / 343 */
}

.bloc-right .col-md-10 {
	width: 76.67638483965%;
/* 263 / 343 */
}

.bloc-right {
	border: 1px solid #bfc0c0;
}

.col-md-10 .col-md-4 {
	width: 32%;
}

span.text-gold-bloc {
	background-image: url(images/blocs/right_blocs/background_gold.png);
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 35px;
	width: 100%;
	line-height: 2.1em;
	padding-left: 34%;
	color: #F9BF63;
	font-weight: 700;
	font-size: 1.2em;
}

.safe-door-margin {
	margin: 5% 0 3%;
}

.text-right-bloc {
	height: 25px;
	margin-top: 4%;
	background-color: #EBEBEE;
	margin-right: 2%;
	text-align: center;
	box-shadow: -2px 3px 0 0 #bfc0c0;
	-moz-box-shadow: -2px 3px 0 0 #bfc0c0;
	-webkit-box-shadow: -2px 3px 0 0 #bfc0c0;
}

.text-right-bloc:last-child,.below-text-right .col-md-4:last-child {
	margin-right: 0;
}

.text-right-bloc a {
	color: #43374F;
	text-transform: uppercase;
	font-weight: 700;
	font-style: italic;
	font-size: .8em;
	line-height: 2.5em;
}

.text-right-bloc .glyphicon {
	top: 0;
	vertical-align: middle;
	font-size: initial;
}

.text-right-bloc .glyphicon-star-empty,.text-right-bloc .glyphicon-heart {
	color : #FF1493;
}

.text-right-bloc .glyphicon-eur {
	color: #E79D2B;
}

.below-text-right .col-md-4 {
	text-align: center;
	font-size: .8em;
	font-style: italic;
	margin: 4% 1.5% 0 0;
}

.buy-ticket a {
	color: #fff;
}

.buy-ticket {
	padding: 2%;
	margin: 5% 0 0 7%;
	text-align: center;
	font-size: .9em;
	text-transform: uppercase;
	background-color: #2AA1D3;
	box-shadow: -2px 3px 0 0 #bfc0c0;
	-moz-box-shadow: -2px 3px 0 0 #bfc0c0;
	-webkit-box-shadow: -2px 3px 0 0 #bfc0c0;
}

.how-work a {
	color: #544A5E;
}

.how-work.col-md-4 {
	width: 37%;
}

.how-work {
	text-align: center;
	background-color: #EFECF2;
	font-weight: 700;
	font-size: .7em;
	padding: 1%;
	margin-top: 6.5%;
}



/********** TIMELINE ***********/
#drag {
	text-decoration: none;
	overflow: hidden;
	cursor: move;
}

.timeline-wrap {
	margin: 1% 0;
	border: 1px solid #bfc0c0;
	padding-top: .4%;
	background-color: #F2F2F2;
	box-shadow: 0 2px 0 0 #bfc0c0;
	-moz-box-shadow: 0 2px 0 0 #bfc0c0;
	-webkit-box-shadow: 0 2px 0 0 #bfc0c0;
}

.background-current {
	position: absolute;
	bottom: 0;
	left: -100%;
}

.background-current-last {
	position: absolute;
	bottom: 0;
	left: -100%;
	width: 644px;
	height: 41px;
}

div.col-md-3.active {
	width: 23%;
}

.timeline-grey-img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
/*opacity: .8;*/
}

.timeline-grey-img-next {
	-webkit-filter: grayscale(50%);
	-moz-filter: grayscale(50%);
	-o-filter: grayscale(50%);
	-ms-filter: grayscale(50%);
	filter: grayscale(50%);
/*opacity: .8;*/
}

.find-streamer-timeline {
	background-color: #9776B5;
	color: #fff;
	text-align: right;
	height: 15px;
	font-size: .8em;
}

.timeline {
	width: 1400px;
}

.background-time {
	margin-top: .2%;
	color: #fff;
	background-color: #7C6393;
	height: 20px;
}

.timeline-round-top {
	margin-top: -1%;
	margin-left: 1%;
	position: absolute;
}

.time-first-child {
	padding-right: 3%;
	margin-left: 12%;
}

.time-first-child-active {
	padding: 0;
	margin-left: 8%;
}

.background-time .col-md-3 {
	width: 11%;
}

.background-time-second .col-md-3 {
	width: 11%;
}

.background-time .col-md-3:before {
	background: url(images/menu_index/divider.png) no-repeat 100%;
	width: 1px;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

.background-time .col-md-3:first-child:before {
	width: 0;
}

.time-second-child {
	padding-left: 20%;
}

.time-second-child-active {
	padding-left: 11%;
}

.timeline_second {
	width: 1400px;
	height: 100px;
}

.timeline-desc {
	background-color: #9C79BD;
	width: 70%;
	height: 66px;
	margin-top: 6%;
	position: absolute;
	right: 0;
	padding-left: 16%;
	padding-top: 4%;
	color: #fff;
	font-size: .8em;
	box-shadow: -2px 3px 0 0 #bfc0c0;
	-moz-box-shadow: -2px 3px 0 0 #bfc0c0;
	-webkit-box-shadow: -2px 3px 0 0 #bfc0c0;
}

.timeline-title-streamer {
	font-weight: 700;
	font-size: 1.1em;
	text-transform: uppercase;
}

a.timeline-off {
	position: absolute;
	z-index: 999;
	color: red;
	font-size: .11em;
	font-weight: 700;
	top: 41%;
	left: 17%;
	height: 20px;
	text-align: center;
}

a.timeline-off-next {
	position: absolute;
	z-index: 999;
	color: #fff;
	font-size: .11em;
	font-weight: 700;
	top: 41%;
	left: 30%;
	height: 20px;
	text-align: center;
}

a.timeline-off-profil {
	background-image: url(images/blocs/timeline/background-end.png);
	background-repeat: no-repeat;
	background-position: 3px 0;
	width: 103px;
	position: absolute;
	z-index: 999;
	color: #fff;
	font-size: .11em;
	font-weight: 700;
	top: 56%;
	left: 5%;
	padding-top: 2%;
	height: 20px;
	text-align: center;
}

.timeline-profil-active {
	background-color: #2AA1D3;
	height: 25px;
	color: #fff;
	text-align: center;
	width: 105px;
	top: 74%;
	font-size: .9em;
	position: absolute;
	padding-top: 1.4%;
	box-shadow: -2px 3px 0 0 #fff;
	-moz-box-shadow: -2px 3px 0 0 #fff;
	-webkit-box-shadow: -2px 3px 0 0 #fff;
}

/********** WOF ***********/
#wof {
	border: 1px solid #bfc0c0;
	background-color: #F2F2F2;
	box-shadow: 0 2px 0 0 #bfc0c0;
	-moz-box-shadow: 0 2px 0 0 #bfc0c0;
	-webkit-box-shadow: 0 2px 0 0 #bfc0c0;
}

#wof .col-md-6 {
	width: 50%;
}

.wof-first-wrap {
	width: 100%;
	height: 45px;
	background-color: #2AA1D3;
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	padding-top: 1%;
	text-align: center;
}

.wof-first-wrap-2 {
	width: 100%;
	height: 45px;
	background-color: #5DCBF9;
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	padding-top: 1%;
	text-align: center;
}

.wof-first-wrap-3 {
	width: 100%;
	height: 45px;
	background-color: #82DFFB;
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	padding-top: 1%;
	text-align: center;
}

.wof-first-wrap-4 {
	width: 100%;
	background-color: #BEEEFD;
	color: #fff;
	font-size: .9em;
	font-weight: 700;
	border-top: 1px solid #fff;
	padding: 1%;
	color: #51B1DB;
}

.wof-first-amount {
	color: #082F40;
}

.wof-first-1 {
	position: absolute;
	right: 0;
	font-size: 2em;
	margin-right: 2%;
	color: #fff;
}

.wof-first-2 {
	position: absolute;
	right: 0;
	font-size: 1.5em;
	margin-right: 2%;
	color: #2AA1D3;
	top: 20%;
}

.wof-first-3 {
	position: absolute;
	right: 0;
	font-size: 1.2em;
	margin-right: 2%;
	color: #2AA1D3;
	top: 27%;
}

.wof-avatar {
	position: absolute;
	left: 25%;
}

.wof-avatar-2 {
	position: absolute;
	left: 3%;
	top: 10%;
	width: 35px;
	height: 35px;
}

.wof-avatar-3 {
	position: absolute;
	left: 3%;
	top: 18%;
	width: 30px;
	height: 30px;
}

.wof-avatar-4 {
	left: 3%;
	width: 20px;
	height: 20px;
}

/************** GSM ************/

.gsm-defaut {
	margin-top:-8%
}

.gsm-adblock-index {
background-color: rgba(0, 0, 0, 0.6);
background: rgba(0, 0, 0, 0.6);
    width: 99.7%;
    z-index: 99;
    height: 300px;
    position: absolute;
}

.gsm-adblock-index h1 {
	text-transform:uppercase;
	font-weight: bold;
	color:#fff;
	font-size:1.6em;
	margin-top:5%;
}

.gsm-adblock-index p {
		font-weight: bold;
	color:#fff;
	font-size:0.9em;
	padding:5%
}

.gsm-adblock-defaut {
background-color: rgba(0, 0, 0, 0.6);
background: rgba(0, 0, 0, 0.6);
    width: 99.7%;
    z-index: 99;
    height: 300px;
    position: absolute;
	margin-top: 31%;
}

.gsm-adblock-defaut h1 {
	text-transform:uppercase;
	font-weight: bold;
	color:#fff;
	font-size:1.6em;
	margin-top:5%;
}

.gsm-adblock-defaut p {
		font-weight: bold;
	color:#fff;
	font-size:0.9em;
	padding:5%
}

#gsm {
	background-image: url(images/blocs/gsm/background-gsm.jpg);
	background-repeat: no-repeat;
	width: 350px;
	height: 301px;
}

.gsm-header {
	background-image: url(images/blocs/gsm/header-gsm.png);
	background-repeat: no-repeat;
	width: 350px;
	height: 126px;
	margin-top: 3%;
}

.gsm-header-title {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 1.3em;
	bottom: 0;
	color: #8C3719;
	margin-bottom: 4.5%;
	text-transform: uppercase;
	font-style: italic;
}

.gsm-warning {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	margin-bottom: 1%;
	font-size: .7em;
	color: #fff;
}

.quest {
	color: #fff;
	height: 60px;
	position: relative;
	background: url(images/blocs/gsm/background-reward.png) no-repeat 0 0;
	margin-top: 2%;
}

.questImage {
	width: 29px;
	position: absolute;
	top: 15px;
	left: 45px;
}

.questTitre {
	position: absolute;
	top: 11px;
	left: 90px;
	font-size: 12px;
	max-width: 188px;
	width: 188px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	font-weight: 700;
	text-align: center;
}

.questObjectif {
	position: absolute;
	top: 27px;
	left: 90px;
	font-size: 9px;
	max-width: 188px;
	width: 188px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	text-align: center;
}

.questReward {
	position: absolute;
	top: 15%;
	right: 10.8%;
	color: #91258E;
	margin: 0;
	font-weight: 700;
}

#hautfaits {
	height: 80px;
	margin-top: 5px;
	padding-left: 5px;
}

.hautfait {
	background: url(images/blocs/gsm/frame-reward.png) no-repeat 0 0;
	display: inline-block;
	height: 80px;
	width: 80px;
	padding: 10px;
	margin: 0 1px;
	position: relative;
	margin-right: 1.5%;
	margin-top: 2%;
}

.hautfait img {
	width: 46px;
  position: absolute;
  top:20px;
  left:18px;
  }

/******** VOD ********/
.bloc-daily {
	text-align: center;
	border: 1px solid #bfc0c0;
	background-color: #fff;
	box-shadow: 0 2px 0 0 #bfc0c0;
	-moz-box-shadow: 0 2px 0 0 #bfc0c0;
	-webkit-box-shadow: 0 2px 0 0 #bfc0c0;
	padding: 2%;
}

/*@media (max-width:1280px) {
	.container .col-md-4 {
		width: 32.473071%;
	}

	.container .col-md-6 {
		width: 66.585153%;
	}

	.outside-bloc-stream .col-md-5 {
		display: none;
	}

	.bloc-stream .col-md-5 {
		width: 100%;
	}

	.bloc-stream .col-md-7 {
		width: 100%;
	}

	.col-md-4.text-right-bloc,.below-text-right .col-md-4 {
		width: 31.473071%;
	}

	.col-md-6.buy-ticket {
		width: 50.585153%;
	}

	.social-left-bloc {
		margin-top: 0;
		padding-left: 2%;
		margin-bottom: 2%;
	}

	.text-left-bloc {
		padding-left: 2%;
	}

	.bloc-news .col-md-6 {
		width: 49%;
	}
}*/

@media (max-width: 768px) {
	.left-side {
		display: none;
		background-size: contain;
	}
}

@media (max-width:1280px) {


	/*.container {
		width: 89%;
	}*/
}
@media (max-width: 1440px) {
  .container {
    width:89%
  }
  
.col-md-4 {
        width: 29%;
}
.col-md-6 {
        width: 70%;
}
    
 	.left-side {
		display: none;
 background-size: contain;
}
	

#gsm {
        width: 100% 
}
.quest {
    background-size: contain;
}

.questTitre {
left: 26%;
    top: 20%;
    font-size: 0.8em;
    max-width: 52%;
    width: 52%;
}
.questObjectif {
left: 26%;
    top: 44%;
    font-size: 0.6em;
    max-width: 52%;
    width: 52%;
}
.questImage {
    width: 8%;
    top: 19%;
    left: 13%;
}
.gsm-header-title {
    font-size: 1.3em;
    margin-bottom: 4.5%;
}
.gsm-warning {
    margin-bottom: 0%;
    font-size: .6em;
}
.gsm-header {

    width: 100%;
    background-size: 100% 100%;
}
.hautfait { 
width: 72px;
background-size: 100%;
}
.hautfait img {
    width: 53%;
}
}

@media (max-width: 1280px) {
  
}

#follow {
	display: none;
}
